<div [formGroup]="questionForm">
  <div fxLayout.xs="row" class="question_row">
    <mat-form-field>
      <input matInput placeholder="Vraag"
             formControlName="question">
    </mat-form-field>
  </div>
  <div fxLayout="row" class="answer_row">
    <div fxFlex="50%">
      <input type="radio"
             formControlName="correct_answer"
             [value]="0">
      <mat-form-field>
        <input matInput placeholder="Antwoord A"
               formControlName="answer_a">
      </mat-form-field>
    </div>
    <div fxFlex="50%">
      <input type="radio"
             formControlName="correct_answer"
             [value]="1">
      <mat-form-field>
        <input matInput placeholder="Antwoord B"
               formControlName="answer_b">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" class="answer_row">
    <div fxFlex="50%">
      <input type="radio"
             formControlName="correct_answer"
             [value]="2">
      <mat-form-field>
        <input matInput placeholder="Antwoord C"
               formControlName="answer_c">
      </mat-form-field>
    </div>
    <div fxFlex="50%">
      <input type="radio"
             formControlName="correct_answer"
             [value]="3">
      <mat-form-field>
        <input matInput placeholder="Antwoord D"
               formControlName="answer_d">
      </mat-form-field>
    </div>
  </div>
</div>
