<div class="topWIDM_Wrapper" *ngIf="members && members.length">

  <div class="topWIDM WIDM_second">
    <div class="topWidm_Avatar">
      <img src="../../../../assets/avatar.png">
    </div>
    <div class="topWidm_title">{{members[1].name}}</div>
  </div>

  <div class="topWIDM WIDM_first">
    <div class="topWidm_Avatar">
      <img src="../../../../assets/avatar.png">
    </div>
    <div class="topWidm_title">{{members[0].name}}</div>
  </div>

  <div class="topWIDM WIDM_third">
    <div class="topWidm_Avatar">
      <img src="../../../../assets/avatar.png">
    </div>
    <div class="topWidm_title">{{members[2].name}}</div>
  </div>
</div>
