<app-nav></app-nav>

<div class="questions-create">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- list of questions -->
    <div formArrayName="questions">
      <div *ngFor="let question of myForm.controls.questions.controls; let i=index">
        <div>
          <h4>Vraag {{i + 1}}</h4>
          <div (click)="removeQuestion(i)" *ngIf="myForm.controls.questions.controls.length > 1"
               style="text-decoration: underline; cursor: pointer">Verwijderen
          </div>
        </div>

        <div [formGroupName]="i">
          <app-answers [group]="myForm.controls.questions.controls[i]"></app-answers>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Opslaan</button>
  </form>
  <button mat-fab (click)="addQuestion()">
    <mat-icon>
      add
    </mat-icon>
  </button>
</div>
