<mat-card *ngIf="showView">
  Scores
</mat-card>

<mat-accordion *ngIf="showView">
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Score lijst
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-scores-overview></app-scores-overview>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Punten
      </mat-panel-title>
      <mat-panel-description>
        Top 3
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-scores-top></app-scores-top>

    <button mat-icon-button class="animate-score_button" (click)="animateScores('topScore')">
      <mat-icon>
        search
      </mat-icon>
    </button>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Meest benoemd als de Mol
      </mat-panel-title>
      <mat-panel-description>
        Top 3
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-scores-widm></app-scores-widm>

    <button mat-icon-button class="animate-score_button" (click)="animateScores('topWidm')">
      <mat-icon>
        search
      </mat-icon>
    </button>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aantal correcte antwoorden 'De Mol'
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-scores-total-correct-widm></app-scores-total-correct-widm>

    <button mat-icon-button class="animate-score_button" (click)="animateScores('correctWidm')">
      <mat-icon>
        search
      </mat-icon>
    </button>

  </mat-expansion-panel>
</mat-accordion>
