<div class="scores_animation-wrapper"
     [ngClass]="{'green-background': background === 'GREEN_BACKGROUND',
     'red-background': background === 'RED_BACKGROUND' }"
     *ngIf="showScoreAnimation">

      <div *ngIf="showScore"
           [ngSwitch]="type">
        <app-scores-widm *ngSwitchCase="'topWidm'"></app-scores-widm>
        <app-scores-top *ngSwitchCase="'topScore'"></app-scores-top>
        <app-scores-total-correct-widm *ngSwitchCase="'correctWidm'"></app-scores-total-correct-widm>
      </div>
</div>
