.scores_animation-wrapper {
  position: fixed;
  height: 100vh;
  top: 0;
  display:block;
  z-index: 20;
  width: 100%;
  background: #000 url("../../../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.scores_animation-wrapper h2 {
  text-align: center;
  padding: 40px 0;
}

:host >>> p.totalCorrectWIDMAnswers{
  font-size: 20rem;
  line-height: 20rem;;
}

.scores_animation-logo {
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000 url("../../../../assets/widm_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.scores_animation-animation-background {
  position:fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.7s linear !important;
  -moz-transition: all 0.7s linear !important;
  -o-transition: all 0.7s linear !important;
  transition: all 0.7s linear !important;
}


.green-background {
  background: url("../../../../assets/widm_green.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.red-background {
  background: url("../../../../assets/widm_red.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.no-background {
  opacity: 0;
}

.component_wrapper {
  opacity: 0;
  -webkit-transition: all 0.7s linear !important;
  -moz-transition: all 0.7s linear !important;
  -o-transition: all 0.7s linear !important;
  transition: all 0.7s linear !important;
}

.show-component-wrapper {
  opacity: 100;
  -webkit-transition: all 1s linear !important;
  -moz-transition: all 1s linear !important;
  -o-transition: all 1s linear !important;
  transition: all 1s linear !important;
}
