.save-questions {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.selectedMol {
  background: rgba(255,255,255, 0.2) url('../../../../assets/widm_logo.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

