<mat-card *ngIf="myForm">
  <div *ngIf="currentMember">
    <div class="memberAvatar">
      <img [src]="'../../../../assets/avatars/'+currentMember._id+'.png'">
    </div>
    <h4 class="answerTitle">{{currentMember.name }} beantwoord alle vragen</h4>
  </div>
</mat-card>

<mat-card *ngIf="!myForm">
  <span>Helaas deze dag bevat nog geen vragen</span>
</mat-card>

<form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
  <!-- list of questions -->
  <div formArrayName="questions">
    <div *ngFor="let question of myForm.controls.questions.controls; let i=index">
      <mat-card>

        <div>

          <div class="question-title_wrapper">
            <span class="questionTitle">{{question.value.question}}</span>
          </div>

          <mat-list>
            <mat-list-item class="mat-3-line">
              <mat-radio-button type="radio"
                                [value]="question.value.answer_a"
                                name="radiogroup{{i}}"
                                (change)="onSelectionChange(question, question.value.answer_a)">
                {{question.value.answer_a}}
              </mat-radio-button>
              <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item class="mat-3-line">
              <mat-radio-button type="radio"
                                [value]="question.value.answer_b"
                                name="radiogroup{{i}}"
                                (change)="onSelectionChange(question, question.value.answer_b)">
                {{question.value.answer_b}}
              </mat-radio-button>
              <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item class="mat-3-line">
              <mat-radio-button type="radio"
                                [value]="question.value.answer_c"
                                name="radiogroup{{i}}"
                                (change)="onSelectionChange(question, question.value.answer_c)">
                {{question.value.answer_c}}
              </mat-radio-button>
              <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item class="mat-3-line">
              <mat-radio-button type="radio"
                                [value]="question.value.answer_d"
                                name="radiogroup{{i}}"
                                (change)="onSelectionChange(question, question.value.answer_d)">
                {{question.value.answer_d}}
              </mat-radio-button>
            </mat-list-item>

          </mat-list>
        </div>
      </mat-card>
    </div>
  </div>

  <button class="save-questions" mat-fab type="submit" color="primary" [disabled]="submitFormDisabled()">
    <mat-icon>
      save
    </mat-icon>
  </button>
</form>

<mat-card *ngIf="myForm">
  <div class="question-title_wrapper">
    <span class="questionTitle">Wie is de Mol?</span>
  </div>
  <mat-grid-list cols="3" rowHeight="150px" *ngIf="members">
    <mat-grid-tile *ngFor="let member of members"
                   (click)="selectMol(member)"
                   [ngClass]="{'selectedMol': wieIsdeMol == member._id}">
      <div class="memberTile">
        <div class="memberAvatar">
          <img [src]="'../../../../assets/avatars/'+member._id+'.png'">
        </div>
        <span class="memberName">{{ member.name }}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>


