<mat-form-field>
  <input matInput placeholder="Voer een naam in" [(ngModel)]="member.name">
</mat-form-field>

<button mat-button (click)="createMember()">
  <mat-icon>
    save
  </mat-icon>
</button>

<mat-list *ngIf="members">
  <mat-list-item class="mat-3-line" *ngFor="let member of members">
    {{ member.name }}
    <div class="mat-secondary-container next_button">
      <button mat-button (click)="deleteMember(member)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
    <mat-divider ng-if="!$last"></mat-divider>
  </mat-list-item>
</mat-list>
