<mat-card>
  <h4 *ngIf="currentMember">{{ currentMember.name }} selecteer een dag om vragen te beantwoorden</h4>
  <h4 *ngIf="!currentMember">Selecteer een dag om vragen te beantwoorden</h4>
</mat-card>
<mat-card>
  <mat-list *ngIf="days">
    <mat-list-item
      class="mat-3-line selectDays"
      *ngFor="let day of days"
      [ngClass]="{'daysAnswered': day.answered}"
      (click)="openUrl(day)">

      {{ day.description | date:"EEEE dd MMMM" }}
      <div class="mat-secondary-container next_button">
          <mat-icon>
            arrow_right
          </mat-icon>
      </div>
      <mat-divider *ngIf="!$last"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
