<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Kies een datum"
         [(ngModel)]="newDay.description">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button (click)="createDay(newDay)">
  <mat-icon>
    save
  </mat-icon>
</button>

<mat-list *ngIf="days">
  <mat-list-item class="mat-3-line" *ngFor="let day of days">
    {{ day.description }}
    <div class="mat-secondary-container next_button">
      <button mat-button (click)="deleteDay(day)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
    <mat-divider ng-if="!$last"></mat-divider>
  </mat-list-item>
</mat-list>

