mat-grid-tile {
  cursor: pointer;
}

mat-grid-tile:hover {
  background: rgba(255,255,255, 0.2);
}

.memberAvatar {
  width: 73px;
  height: 73px;
}

.memberName {
  margin: 0 auto;
  position: relative;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.memberAvatar img {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3px;
  margin-left: -4px;
}
