@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  background:#000;
  margin: 0;
  height: calc(100vh - 56px);
}

h4 {
  font-weight: 400;
}

form {
  margin-right: 0 !important;
}

.content_wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 20px;
}

.mobileNav_wrapper {
  left: 0;
  position: absolute;
}

.topNav .nav_wrapper .nav_menu {
  margin: 0;
}
.topNav .nav_wrapper .nav_menu li {
  display:inline;
}

.sideNav .nav_wrapper .nav_menu {
  padding: 0;
}

.sideNav .mat-button {
  text-align:left;
  width: 100%;
  line-height: 59px;
  min-width: 150px;
}

.sideNav .nav_menu li a{
  padding-left: 32px;
}

.next_button {
  position: absolute;
  right: 0;
}

.question-title_wrapper {
  font-size: 25px;
  line-height: 37px;
}

.answer_row mat-form-field{
  width: 89%;
  margin-left: 15px;
}

.question_row mat-form-field {
  width: 100%;
}

mat-card, mat-accordion {
  margin-bottom: 10px;
}

.mat-expansion-panel-body {
  padding-top: 15px !important;
}

.mat-card {
  background: rgba(255, 255, 255, 0.2);
}

.mat-drawer-container {
  background: url(https://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}


.mat-toolbar.mat-primary {
  background: #046704;
}



.title {
  right: 19px;
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
}

.logo {
  background: url('https://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/logo_WIDM.png');
  height: 100%;
  width: 100%;
  display: block;
  background-size: cover;
}

.topWIDM {
  width: 33%;
  display: inline-block;
}

.topWidm_Avatar img {
  width: 80px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 3px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.WIDM_first .topWidm_Avatar {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.WIDM_first .topWidm_Avatar img{
  border: 3px solid gold;
  width: 100%;
  z-index: 10;
  position: relative;
}

.WIDM_second .topWidm_Avatar img {
  border: 2px solid silver;
  opacity: 0.9;
  width: 80%;
}

.WIDM_second .topWidm_Avatar {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.WIDM_third .topWidm_Avatar img {
  border: 1px solid #8b6909;
  opacity: 0.8;
  width: 75%;
}

.WIDM_third .topWidm_Avatar {
  margin: 0 auto;
  display: block;
  width: 75%;
}


.topWidm_title {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

