<mat-toolbar color="primary">

  <mat-toolbar class="topNav" color="primary" fxShow="true" fxHide.lt-sm="true">
    <app-nav></app-nav>
  </mat-toolbar>

  <div class="mobileNav_wrapper"
       fxShow="true"
       fxHide.gt-xs="true">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>

  <div class="title">
    <div class="logo"></div>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav class="sideNav"  #sidenav fxLayout="column">
    <div fxLayout="column">
      <app-nav></app-nav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

